@import url("http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css");

body {
  background-color: #F8F8F8;
  margin: 15px;
}

#wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
}

.box-container {
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px;
  margin-right: 10px;
}

.btn {
  cursor: default !important;
}

input {
  width: 60px;
  text-align: right;
  margin: 0;
  padding: 0 2px 0 2px;
}

.numeric-data-cell {
  text-align: right !important;
  width: 50px;
}

form {
  margin-bottom: 7px;
}

fieldset {
  margin-bottom: 5px;
}